/*-------------------- comienzo de variables*/
:root{
    --gray-color:#888887;
    --black-color:black;
    --normal:12px;
   
    
}

/*-------------------- fin de variables*/
html,body{
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 900;
    font-size: 14px;
    ;
}
h1{
    text-align: center;
}

nav{
    display: flex;
    background-color: var(--gray-color);
    padding: var(--normal);
    color: white;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex; 
}
nav li{
    padding-right: 25px;
    list-style: none ;
}

nav li a{
    color: var(--black-color) ;
    text-decoration: none;
}
nav li a:hover{
    color: var(--black-color);
}

/*-----------------------------------main section */
.menu{
    font-size: 25px;
    
    margin-left: auto;
    margin-right: auto;
}
.main_section{
    text-align: center;
    
}
.main_button{
    list-style: none;
    color: black;
}
.menu{
    text-align: center;
}
.container{
    max-width: 900px;
    margin: auto;
    padding: 100px;
}
.row{
    display: flex;
}
.col-1{
    width: 25% ;
}
.col-2{
    width: 25% ;
}
.col-3{
    width: 25% ;
}
.col-4{
    width: 25% ;
}
.col-1, .col-2, .col-3, .col-4{
    padding: 10px;
    border: 10px solid #c9c9c8;
    background: var(--gray-color);
    height: 100px;
    width: 200px;
    padding: 10px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 900px){
    .row{
        display: inherit;
    }
    .col-1, .col-2{
        padding: 10px;
    }
}
/*comienzo del reto*/
.mini_galeria{
    display: flex;
    padding: 80px;
    margin-left: auto;
    margin-right: auto;
}
.boxgalery{
    box-shadow: 0 20px 40px #c2bebe ;
    padding: 20px;
    background-color: var(--gray-color);
    margin-top: 60px;
}

/*footer*/
footer{
    background-color: var(--gray-color);
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    text-align: center;
    justify-content: space-between;
}
footer .gmailp{
    color: black;
    text-decoration: none;
}